<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title} + ' - GGDeals'">GGDeals</title>
  <!-- Enlaces CSS -->
  <link rel="shortcut icon" th:href="@{/assets/compiled/svg/logo-copy.svg}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/compiled/css/app.css}">
  <link rel="stylesheet" th:href="@{/assets/compiled/css/app-dark.css}">
  <link rel="stylesheet" th:href="@{/assets/compiled/css/iconly.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/bootstrap-icons/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/flatpickr/flatpickr.min.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css}">
  <link rel="stylesheet" th:href="@{/assets/compiled/css/table-datatable-jquery.css}">
  <!-- Fix para modales -->
  <link rel="stylesheet" th:href="@{/assets/compiled/css/modal-fixes.css}"></head>
<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</html>