@import "tailwindcss";


@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRExtrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/EkMukta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/EkMukta-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/EkMukta-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/EkMukta-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/EkMukta-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/EkMukta-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/EkMukta-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Karantina';
  src: url('/fonts/Karantina-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karantina';
  src: url('/fonts/Karantina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karantina';
  src: url('/fonts/Karantina-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



@theme {
  --color-primary: #FF9800;
  --color-secondary: #E35E26;
  --color-black: #161618;
  --color-gray-800: #454549;
  --color-gray-100: #F4F4F4;

  --font-inter: "Inter", sans-serif;
  --font-nouvel: "NouvelR Regular", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-ekMukta: "EkMukta", sans-serif;
  --font-karantina: "Karantina", sans-serif;
  --font-sofia: "Sofia Sans", sans-serif;
}


html,
body {
  @apply font-inter text-gray-100 leading-[36px];
  @apply bg-black;


  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  section,
  footer,
  header,
  .breadcrumbs {
    @apply max-w-[1600px] mx-auto px-4;
  }

  section {
    @apply mb-[80px];
  }

  footer {
    @apply mt-10;
  }

  .animate-neon-glow {
    animation: neon-glow 2s infinite;
  }

  .animate-neon-glow-inset {
    animation: neon-glow-inset 2s infinite;
  }

  #iti-1__dropdown-content {
    @apply bg-black border-none;
  }

  .iti__search-input {
    @apply p-2;
  }


  .yarl__thumbnails_container {
    @apply bg-black;
  }
}

@keyframes neon-glow {

  0%,
  100% {
    box-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px theme('colors.primary'),
      0 0 25px theme('colors.primary');
  }

  50% {
    box-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px theme('colors.secondary'),
      0 0 40px theme('colors.secondary');
  }
}

@keyframes neon-glow-inset {

  0%,
  100% {
    box-shadow:
      inset 0 0 5px #fff,
      inset 0 0 10px #fff,
      inset 0 0 15px theme('colors.primary');
  }

  50% {
    box-shadow:
      inset 0 0 5px #fff,
      inset 0 0 10px #fff,
      inset 0 0 15px theme('colors.secondary');
  }
}