@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRExtrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NouvelR';
  src: url('/fonts/NouvelRSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/EkMukta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/EkMukta-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/EkMukta-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/EkMukta-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/EkMukta-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/EkMukta-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'EkMukta';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/EkMukta-Medium.ttf') format('truetype');
}



@theme {
  --color-primary: #FF9800;
  --font-inter: "Inter", sans-serif;
  --font-nouvel: "NouvelR Regular", sans-serif;
  --font-epilogue: "Epilogue", sans-serif;
  --font-ekMukta: "EkMukta", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @apply font-inter;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  background-color: #161616;

  section  {
    @apply max-w-[1440px] mx-auto px-4 my-10;
  }
}